<!DOCTYPE html>
<html>

<head>
    <title>Pour-over-and-over</title>
    {% load static %}
    <link href="{% static '../../static/css/create_profile.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'pourover/create_profile.js' %}"></script>
</head>

<body>
    <div>   
        <form method="post" action="{% url 'create' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.description.label_tag }}</td>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <td>{{ form.grind_size.label_tag }}</td>
                    <td>{{ form.grind_size }}</td>
                </tr>
                <tr>
                    <td>{{ form.grind_weight.label_tag }}</td>
                    <td>{{ form.grind_weight }} (grams)</td>
                </tr>
                <tr>
                    <td>{{ form.total_water_weight.label_tag }} </td>
                    <td>{{ form.total_water_weight }} (grams)</td>
                </tr>
                <tr>
                    <td>{{ form.water_temp.label_tag }} </td>
                    <td>{{ form.water_temp }} (°F)</td>
                </tr>
                <tr>
                    <td>{{ form.brew_method.label_tag }}</td>
                    <td>{{ form.brew_method }}</td>
                </tr>
                <tr>
                    <td>{{ form.brew_device.label_tag }}</td>
                    <td>{{ form.brew_device }}</td>
                </tr>
                <tr>
                    <td>{{ form.steps.label_tag }}</td>
                    <td>{{ form.steps }}</td>
                </tr>
                <tr>
                    <td>{{ form.rating.label_tag }}</td>
                    <td>{{ form.rating }}</td>
                </tr>
            </table>
            <button type="submit">Create</button>
        </form>        
    </div>
    <div>
        <span>Use the form below to add brew steps</span>
        <span>Water weight will be autofilled from sum</span>
        <form id="stepForm">
            <table>
                <tr>
                    <td><label for="pourType">Pour Type:</label></td>
                    <td>
                        <select name="stepVals" id="pourType">
                            <option value="Center">Center</option>
                            <option value="Inner circle">Inner Circle</option>
                            <option value="Outer circle">Outer Circle</option>
                            <option value="Edge">Edge</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="waterWeight">Water weight (g):</label></td>
                    <td><input type="text" id="waterWeight" name="stepVals"></td>
                </tr>
                <tr>
                    <td><label for="flowRate">Flow Rate (g/s):</label></td>
                    <td><input type="text" id="flowRate" name="stepVals"></td>
                </tr>
                <tr>
                    <td><label for="agitationLevel">Agitation Level:</label></td>
                    <td>
                        <select name="stepVals" id="agitationLevel">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button id='id_addStep' type="button" onclick="addStep()">Add</button>
        </form>        
    </div>
    <div>
        <span>Current steps:</span>
        <div id="currSteps"></div><br>
    </div>
    <div>
        <span>Remove steps:</span>
        <form id="removeStepForm">
            <table>
                <tr>
                    <td><label for="removeStep_num">Step number:</label></td>
                    <td><input type="number" id="removeStep_input" name="removeStep_num"></td>
                </tr>
            </table>
            <button id='id_removeStep' type="button" onclick="removeStep()">Remove</button>
    </div>
    <div>
        <span>Click below once finished adding steps</span>
        <button id='id_submitSteps' type="button" onclick="submitSteps()">Submit</button>
    </div>
</body>
<!-- [(center pour, 60g, 12g/s, high) -->
</html>