<!DOCTYPE html>
<html>

<head>
    <title>Pour-over-and-over</title>
    {% load static %}
    <link href="{% static 'pourover/home_page.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div>   
        <div>This is the home page!</div>
        <button onclick="window.location.href = '{% url 'create' %}'" id='id_create_profile_button'>Create profile</button>
        <h3>Current brew profiles:</h3>
        {% for profile in profiles %}
            <div id="" class="">
                <a href="{% url 'brew_page' profile.id %}" id="id_brew_profile_{{profile.id}}">
                Click here to brew me!
                </a>
                <span id=''>Profile name: {{profile.name}}</span>
                <span id='' class=''>Description: {{profile.description}}</span>
                <span id='' class=''>Rating: {{profile.rating}} / 10</span>
                <span id='' class=''>Coffee weight: {{profile.grind_weight}}</span>
                <span id='' class=''>Water weight: {{profile.water_weight}}</span>
                <span id='' class=''>Water temperature: {{profile.water_temp}}</span>
                <span id='' class=''>Brew device: {{profile.brew_device}}</span>
            </div>
        {% endfor %}
    </div>
</body>

</html>